Source: synce-core
Section: libs
Priority: optional
Maintainer: Gustavo Perez Reyes <ghreyes71@gmail.com>
Build-Depends: debhelper-compat (= 13), libdbus-1-dev, pkg-config (>= 0.21), libglib2.0-dev (>= 2.26.0), ppp, net-tools, isc-dhcp-client, libgudev-1.0-dev, udev, cython3, python3-dev
Standards-Version: 4.6.2
Homepage: http://www.synce.org/

Package: libsynce0-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsynce0 (= ${binary:Version}), libglib2.0-dev
Conflicts: librapi2
Description: Common library for SynCE, a tool to sync Windows Mobile devices
 The purpose of the SynCE project is to provide a means of communication with
 a Windows Mobile, or Windows CE, device from a computer running Linux,
 FreeBSD or a similar operating system.
 .
 libsynce provides common support functions and an implementation of RAPI,
 equivalent to rapi.dll on a Windows machine, to make remote calls to your
 Window Mobile device.
 .
 This package contains the development files for the library.

Package: libsynce0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: librapi2
Description: Helper library for SynCE, a tool to sync Windows Mobile devices
 The purpose of the SynCE project is to provide a means of communication with
 a Windows Mobile, or Windows CE, device from a computer running Linux,
 FreeBSD or a similar operating system.
 .
 libsynce provides common support functions and an implementation of RAPI,
 equivalent to rapi.dll on a Windows machine, to make remote calls to your
 Window Mobile device.
 .
 This package contains the runtime library.

Package: synce-tools
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsynce0 (= ${binary:Version}), synce-dccm (= ${binary:Version}), python3
Conflicts: librapi2-tools
Description: Make RAPI calls to a Window Mobile device, library tools
 The purpose of the SynCE project is to provide a means of communication with
 a Windows Mobile, or Windows CE, device from a computer running Linux,
 FreeBSD or a similar operating system.
 .
 This package contains tools that use libsynce to talk to a Windows Mobile
 device to perform various functions. Many of these are simply remote
 versions of standard unix file utilities.

Package: synce-dccm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsynce0 (= ${binary:Version}), ppp, net-tools, isc-dhcp-client, python3
Conflicts: synce-serial, synce-hal, synce-connector
Replaces: synce-hal, odccm, synce-connector
Breaks: synce-connector
Description: Daemon to maintain a connection to Windows Mobile devices
 synce-dccm is a udev callout infrastructure and dccm implementation for
 Windows Mobile devices. It responds to keep alives and provides other
 members of the SynCE suite of tools with access to the device.

Package: python3-rapi2
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}, libsynce0 (= ${binary:Version})
Description: Python 3 bindings for librapi2 (SynCE RAPI)
 The purpose of the SynCE project is to provide a means of communication with
 a Windows Mobile, or Windows CE, device from a computer running Linux,
 FreeBSD or a similar operating system.
 .
 This package contains Python 3 bindings (pyrapi2) that allow Python programs
 to use the RAPI protocol to communicate with Windows Mobile devices.
